<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Diabetes Predictor</span></h2>
            <div class='description'>
    			<p>Welcome! Check your Diabetes, It's just an prediction so no need to worry :)</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="pregnancies" placeholder="Total Pregnancies"><br>
                <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL)"><br>
                <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg)"><br>
                <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm)"><br>
                <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL)"><br>
                <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²)"><br>
                <input class="form-input" type="text" name="dpf" placeholder="Diabetes Pedigree Function (ratio)"><br>
                <input class="form-input" type="text" name="age" placeholder="Age in years"><br>

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/rajat709"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/rajat-kumar-vishwakarma-517295201"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>BETA Project By Rajat Kumar Vishwakarma</p>
       </div>

    </body>
</html>
